@import "inc/bootstrap";

.task-manager-container {
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 64px;
    background-color: transparent;
    padding: 22px 8px 0px;
    &:hover{
        @include vendor-prefix(transition, background-color 0.2s ease);
        background-color: rgba($info, .5);
        text-decoration: none;
    }
}

//improve style integration with the other button of backoffice
.dark-bar nav .settings-menu:hover ~ .persistent-menu .task-listing .box{
    box-shadow: none;
    border-color: whiten($uiGeneralContentBorder, 0.5);
    .arrow{
        display: none;
    }
}