@import "inc/bootstrap";

$listBorderColor: #333;

.task-manager-container {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 64px;
    background: $darkBar;
    padding: 22px 8px 0px;
    svg {
        position: absolute;
        top: -8px;
        right: -8px;
    }
}

.task-manager-trigger {
    position: relative;
    font-size: 18px;
    color: white;
    text-shadow: none;
}

.badge {
    svg {
        g.badge-info {
            path {
                fill: $info;
            }
            text {
                fill: whiten($info, 0.8);
            }
        }
        g.badge-success {
            path {
                fill: $success;
            }
            text {
                fill: whiten($success, 0.8);
            }
        }
        g.badge-error {
            path {
                fill: $error;
            }
            text {
                fill: whiten($error, 0.8);
            }
        }
    }
}

.task-listing {
    padding-top: 9px;
    .box {
        position: relative;
        //min-height : 200px;
        min-width: 360px;
        background: $canvas;
        @include simple-border($listBorderColor);
        .description {
            padding: 5px 20px;
            border-bottom: solid 1px $listBorderColor;
            font-weight: bold;
        }
        .arrow {
            position: absolute;
            z-index: 301;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            border: 1px $listBorderColor solid;
            border-right: none;
            border-bottom: none;
            width: 12px;
            height: 12px;
            background: $canvas;
            right: calc(50% - 6px);
            top: -7px;
        }
    }
}

.notif-element {
    position: relative;
    background: $canvas;
    padding: 10px 20px;
    width: 100%;
    height: 70px;
    border-bottom: solid 1px blacken($canvas, 0.2);
    .container-icon{
        position: absolute;
        .shape{
            display: inline-block;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            top: 2px;
            position: relative;
            [class^="icon-"], [class*=" icon-"] {
                @include font-size(20);
                position: relative;
                top:8px;
                left:10px;
                text-shadow: none;
            }
        }
    }
    &.running{
        .container-icon .shape{
            background: $info;
            [class^="icon-"], [class*=" icon-"]{
                color: whiten($info, 0.9);
            }
        }
        .action-bar.action-bottom [data-role="notify"]{
            display: inline-block;
        }
    }
    &.completed{
        .container-icon .shape{
            background: $success;
            [class^="icon-"], [class*=" icon-"]{
                color: whiten($success, 0.9);
            }
        }
        .action-bar.action-bottom{
            [data-role="download"], [data-role="report"]{
                display: inline-block;
            }
        }
    }
    &.failed{
        .container-icon .shape{
            background: $error;
            [class^="icon-"], [class*=" icon-"]{
                color: whiten($error, 0.9);
            }
        }
        .action-bar.action-bottom{
            [data-role="download"], [data-role="report"]{
                display: inline-block;
            }
        }
    }
    .container-text{
        padding-top: 4px;
        margin-left: 60px;
        .time{
            color: blacken($canvas, 0.4);
            @include font-size(12);
        }
    }
    .action-bar{
        position: absolute;
        [class^="icon-"], [class*=" icon-"] {
            @include font-size(16);
            width: 20px;
            height: 20px;
            display: inline-block;
            padding-left: 4px;
            margin-left: 5px;
            cursor: pointer;
            &:hover{
                opacity: 0.6;
            }
        }
        &.action-top{
            top: 4px;
            right: 6px;
        }
        &.action-bottom{
            bottom: 4px;
            right: 6px;
            [class^="icon-"], [class*=" icon-"] {
                display: none;
            }
        }
    }
}

.pulse {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 150%;
    background: transparent;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.6);
    animation: pulse 1s 5;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.6);
    }
    70% {
        -webkit-box-shadow: 0 0 0 30px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.6);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.6);
    }
    70% {
        -moz-box-shadow: 0 0 0 30px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 30px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}